name: Release PR

on:
  push:
    branches:
      - main

jobs:
  version-bump:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Configure Git
      run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'actions@github.com'
    - name: Check Commit Message
      id: check_commit
      run: |
        commit_message=$(git log -1 --pretty=%B)
        if [[ "$commit_message" =~ ^chore\(release\):\ ([.0-9]+).* ]]; then
          version="${BASH_REMATCH[1]}"
          echo "is_release=true" >> $GITHUB_OUTPUT
          echo "version=$version" >> $GITHUB_OUTPUT
        else
          echo "is_release=false" >> $GITHUB_OUTPUT
        fi
    - uses: oven-sh/setup-bun@v2
    - name: generate changelog and bump version
      if: steps.check_commit.outputs.is_release == 'false'
      run: bunx standard-version
    - name: Create Pull Request
      if: steps.check_commit.outputs.is_release == 'false'
      uses: peter-evans/create-pull-request@v8
      with:
        title: "Pending Release"
        body: "Automated version bump using standard-version"
        branch: version-bump
        delete-branch: true
        base: main
    - name: tag current package version and push
      if: steps.check_commit.outputs.is_release == 'true'
      run: |
        git tag v${{ steps.check_commit.outputs.version }} || true
        git push --tags || true
        bun install --frozen-lockfile
        bun run package
        bun run ovsx publish *.vsix --pat ${{ secrets.OPEN_VSX_TOKEN }} || true
        bun run vsce publish -p ${{ secrets.VS_MARKETPLACE_TOKEN }} || true
        gh release create v${{ steps.check_commit.outputs.version }} nix-ide*.vsix --title "v${{ steps.check_commit.outputs.version }}" --notes "Release v${{ steps.check_commit.outputs.version }}"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
